*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    
  
  }
  body{
    background-image: linear-gradient(to right, rgba(57, 153, 243, 0), rgb(143, 174, 233));
    
  }
  .logo{
    margin: auto;
  }
  .row{
    background: white ;
    margin: auto;
    border-radius: 30px;
  }
  .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgba(29, 99, 230, 0.822);
    color:white;
    border-radius: 4px;
    font-weight: bold;
    margin: auto;
    display: inline;
      float: none;
  }
  .btn1:hover{
    background: rgb(129, 180, 228);
    border: 1px solid;
    color: black;
  }