body{

	font-family: 'Lato', sans-serif;
  color:black;
  padding-top: 70px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar {
 margin-top: 0px;
 margin-bottom: 0px;
 font-size: 18px;
 background-color: #DDF0F0;
}

.brand-name {
  padding-top: 0px;
  margin-top: 0;
  margin-left: 0;
}

.brand-font {
  font-family: 'Josefin Slab', serif;  
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  left:20px;
}

.container-fluid{
   align-self: baseline;
   vertical-align: middle;
}

.row{
    text-align:center;
    margin:0 auto;
}

.row .col-md-4{
   display:inline-block;
   vertical-align: middle;
   float: none;
}

#demo-nav {
  display: none;
}

.show-nav #demo-nav {
  display: block;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
